.form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 20rem;
    margin-bottom: 0.5rem;
}
.form label {
    font-weight: bold;
    color: #363636;
    margin-right: 0.5rem;
}

.form input {
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 0.2rem;
    outline: transparent;
}